---
- etckeeper: action=begin


- name: Create to_deploy directory for hook.sh
  file:
    path: "{{ dehydrated_configdir }}/to_deploy"
    state: directory
    owner: "{{ dehydrated_username }}"
    group: "{{ dehydrated_usergroup }}"
    mode: 0750


- name: Add hook.sh to create files for deploy_certs script
  template:
    src: hook.sh.j2
    dest: "{{ dehydrated_configdir }}/hook.sh"
    mode: 0700
    owner: "{{ dehydrated_username }}"
    group: "{{ dehydrated_usergroup }}"

- name: Set HOOK value for deploy scripts in configuration
  lineinfile:
    dest: "{{ dehydrated_configdir }}/config"
    regexp: "^#?HOOK"
    line: "HOOK=\"{{ dehydrated_configdir }}/hook.sh\""


- name: Add deploy_certs script. Will be called from cron script with root permissions for each domain
  template:
    src: deploy_cert.sh.j2
    dest: "/usr/local/sbin/deploy_cert.sh"
    mode: 0700


- name: Add cron script for regularly renewals
  template:
    src: cron_dehydrated.j2
    dest: /etc/cron.weekly/dehydrated
    mode: 0700


- etckeeper: "action=commit msg='ansible: {{ vars['role_name']}}.cron_with_deploy_scripts' rev={{ revision }}"
