#!/usr/bin/env bash
#
# deploy_cert be called for each domain from cron script.
# See /etc/cron.weekly/dehydrated


function deploy_cert {
	local DOMAIN="${1}" KEYFILE="${2}" CERTFILE="${3}" FULLCHAINFILE="${4}" CHAINFILE="${5}" TIMESTAMP="${6}"
	set -o xtrace # use tracing for user defined code

# ========== start code from ansible varibale ============
{{ dehydrated_deploy_cert | mandatory }}
# ========== end code from ansible varibale ==============

	set +o xtrace
}
