#!/usr/bin/env bash
set -o nounset -o errexit -o pipefail

function deploy_challenge {
	:
}

function clean_challenge {
	:
}

function unchanged_cert {
	:
}

function deploy_cert {
	echo "Hook for domain $1 triggerd, add to {{ dehydrated_configdir }}/to_deploy folder!"
	echo "$@" > "{{ dehydrated_configdir }}/to_deploy/$1"
}

HANDLER=$1; shift; $HANDLER $@
